.coverage {
  margin-right: -25px;
}

.coverage-container .coverage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coverage-container .coverage .btn {
  margin: 0.5rem;
}



.input-group {
  margin-top: 45px;
}

.input-group .form-control {
  width: 300px;
}

.input-group .btn-outline-success {
  width: 100px;
}

.fluid {
  width: 100%;
}

.bckgrnd {
  background-color: #f5f5f5;
}

@media (max-width: 446px) {
  .coverage {
    margin-left: 20px; /* Margin value for screens up to 576px wide */
  }
}

@media (max-width: 991px) {
  .coverage-top {
    margin-left: 50px; /* Margin value for screens up to 576px wide */
  }
}


.btn-add {
  width: 90px;
}

.coverage {
  overflow: auto;
  max-height: calc(5 * 2rem + 4px);
  overflow-x: hidden;
}

.coverage thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.wider-input {
  width: 75%;
  max-width: 75vh;
}
