/* customer.css */

.fluid {
  width: 100%;
}

.bckgrnd {
  background-color: #f5f5f5;
}

.entry-container {
  border-radius: 1rem;
  padding: 30px;
}

.entry-form {
  border-radius: 1rem;
}

.input-group-sm {
  width: 100%;
}



.btna {
  width: 90px;
}

.btna:hover{
  background:rgb(64, 64, 64);
}

