/* Sidebar width */


#parentM li a:hover,
#parentM li a:active,
#parentM li a.active {
  background-color: #c6c8cb;
  color: green !important;
}

.nav-link.active {
	background-color: #c0c2c4;
	color: green !important;
  }

  *{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  main{
    width: 100%;
  }

  .toggle-btn {
    transition: transform 0.5s;
  }
  
  .toggle-btn.rotate {
    transform: rotate(-180deg);
  }

  