/* Sidebar width */


#parentM li a:hover,
#parentM li a:active,
#parentM li a.active {
  background-color: #c0c2c4;
  color: green !important;
}

.nav-link.active {
	background-color: #c0c2c4;
	color: green !important;
  } */

  /* .nav-pills li a:hover {
	background-color: blue;
  } */ */

  *{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  main{
    width: 100%;
  }
  