.btna {
    display: block;
    width: 25%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 15px;
    padding: 5px;
    background-color: green;
}
.btna:hover{
    background:black;
}

.form-control2 {
    margin: 0 60px;
}
.form-control3 {
    width: 750px;
    margin-left:50%;
    float: right;
}
